@tailwind base;
@tailwind components;
@tailwind utilities;

.response-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgba(96, 96, 96, 0.393);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.response-container code {
  font-weight: bolder;
  background: #f4f4f4;
  color: #c7254e;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

.response-container pre {
  background: rgba(128, 128, 128, 0.466);
  color: #f8f8f2;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
}

.sender::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: rgb(176, 176, 176);
  border-right: 0;
  margin-top: -4px;
}

.receiver::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: rgb(176, 176, 176);
  border-left: 0;
  margin-top: -4px;
}

.spinner {
  width: 30px;
  height: 30px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #47a4ff 41%);
  background: linear-gradient(
        0deg,
        rgba(71, 164, 255, 0.5) 50%,
        rgba(71, 164, 255, 1) 0
      )
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(71, 164, 255, 0.25) 50%,
        rgba(71, 164, 255, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
